# Ignore log files
error.log
combined.log

# Ignore environment variables file
.env
# Ignore everything in Users and Products folders
/public/Users/*
/public/Products/*

# But keep the folders themselves
!/public/Users/
/public/Users/.gitkeep

!/public/Products/
/public/Products/.gitkeep